.wave-cont{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.wave-cont .wave-cmd{
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 35%;
    height: 100%;
}
.wave-cont .wave-cmd .controller{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}
.wave-cont .wave-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    /* background-color: red; */
    height: 100%;
    margin-top: 10px;
    right: 0;
    width: 60%;

}
.inverse{
    transform: rotate(180deg);
}
.mode div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(120deg,rgba(0, 34, 255, 0.414),rgba(0, 126, 128, 0.448));
    padding: 5px;
    border-radius: 7px;
    align-items: center;
}
.mode span{
    padding-left: 5px;
    color: #f5f5f5b6;
    font-size: smaller;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}